@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #363636;
  --gray-text-color: #d2d2d2;
}

body {
  font-family: var(--font-futura), sans-serif;
}

.note {
  font-family: var(--font-caveat);
  font-optical-sizing: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
